<html>
  <title>Default App Component Page</title>
  <body>
    Default App Component Page<br>
    We can modify simple content here!<br>
    {{name}}<br>
    <input [value]="fruit"><br>

      <table [attr.border]="bdr" height="200" width="400">
      <tr>
      <td attr.colspan="{{columnSpan}}" align="center"> Record 1 </td>
      <td [attr.colspan]="columnSpan" align="center"> Record 2 </td>
      </tr> </table>
      <br>
      
    <p [style.color]="textColor">This text is colored.</p>


  </body>
</html>
<router-outlet />
