
    Default App Component Page<br>
    We can modify simple content here!<br>
    {{name}}<br>
    <input [value]="fruit"><br>

    <table [attr.border]="bdr" height="200" width="400">
    <tbody>
    <tr>
    <td attr.colspan="{{columnSpan}}" align="center"> Record 1 </td>
    <td [attr.colspan]="columnSpan" align="center"> Record 2 </td>
    </tr>
    </tbody>
    </table>
    <br>

    <p [style.color]="textColor">This text is colored.</p>

    <br>
    <button>My Button</button>
    <button class='colorClass'>My Button</button>
    <button class='colorClass' [class]='classesToApply'>My Button</button>

    <br>
    <button (click)="onClick()">Click here!</button>
    <br>
    <div>
        <label for="colorInput">Enter your favourite color:</label>
        <input id="colorInput" [(ngModel)]="color">
      </div>
      
      <p>Your name is: {{color}}</p>
<br>
<app-component-name1></app-component-name1>
<app-contact></app-contact>

<router-outlet />
